/*栅格*/
.do-row{position:relative;}
.do-row:after,.do-row:before{content:"";display:table}
.do-row:after{clear:both}

/*间隔*/
[class*=do-col-]{position:relative;padding:0 17px;vertical-align: top;float: left;}
[class*=do-col-] .do-panelcol > *{z-index: 1}
[class*=do-col-] .do-area-bg{z-index:0}

/*自定义间隔*/
.spacing1 > [class*=do-col-]{padding: 0}
.spacing2 > [class*=do-col-]{padding: 0 3px}
.spacing3 > [class*=do-col-]{padding: 0 6px}
.spacing4 > [class*=do-col-]{padding: 0 9px}
.spacing5 > [class*=do-col-]{padding: 0 12px}
.spacing6 > [class*=do-col-]{padding: 0 15px}
.spacing7 > [class*=do-col-]{padding: 0 18px}
.spacing8 > [class*=do-col-]{padding: 0 21px}
.spacing9 > [class*=do-col-]{padding: 0 24px}
.spacing10 > [class*=do-col-]{padding: 0 27px}
.spacing11 > [class*=do-col-]{padding: 0 30px}
.spacing12 > [class*=do-col-]{padding: 0 33px}
.spacing13 > [class*=do-col-]{padding: 0 36px}
/*干掉左右间隔*/
[class*=do-col-]:first-child{padding-left:0}
[class*=do-col-]:last-child{padding-right:0}

/*面板间隔与间隔一致*/
.do-body [class*=do-col-]:before{margin:0 17px;}
.do-body .spacing1 > [class*=do-col-]:before{margin: 0}
.do-body .spacing2 > [class*=do-col-]:before{margin: 0 3px}
.do-body .spacing3 > [class*=do-col-]:before{margin: 0 6px}
.do-body .spacing4 > [class*=do-col-]:before{margin: 0 9px}
.do-body .spacing5 > [class*=do-col-]:before{margin: 0 12px}
.do-body .spacing6 > [class*=do-col-]:before{margin: 0 15px}
.do-body .spacing7 > [class*=do-col-]:before{margin: 0 18px}
.do-body .spacing8 > [class*=do-col-]:before{margin: 0 21px}
.do-body .spacing9 > [class*=do-col-]:before{margin: 0 24px}
.do-body .spacing10 > [class*=do-col-]:before{margin: 0 27px}
.do-body .spacing11 > [class*=do-col-]:before{margin: 0 30px}
.do-body .spacing12 > [class*=do-col-]:before{margin: 0 33px}
.do-body .spacing13 > [class*=do-col-]:before{margin: 0 36px}

[class*=do-col-] .do-block > [class*=do-element]{min-height: 5px}
.do-col-12{width:100%}
.do-col-12 .do-col-12{width:100%}
.do-col-12 .do-col-11{width:91.6667%}
.do-col-12 .do-col-10{width:83.3333%}
.do-col-12 .do-col-9{width:75%}
.do-col-12 .do-col-8{width:66.6667%}
.do-col-12 .do-col-7{width:58.3333%}
.do-col-12 .do-col-6{width:50%}
.do-col-12 .do-col-5{width:41.6667%}
.do-col-12 .do-col-4{width:33.3333%}
.do-col-12 .do-col-3{width:25%}
.do-col-12 .do-col-2{width:16.6667%}
.do-col-12 .do-col-1{width:8.3333%}
.do-col-11{width:91.6667%}
.do-col-11 .do-col-11{width:100%}
.do-col-11 .do-col-10{width:90.9091%}
.do-col-11 .do-col-9{width:81.8182%}
.do-col-11 .do-col-8{width:72.7273%}
.do-col-11 .do-col-7{width:63.6364%}
.do-col-11 .do-col-6{width:54.5455%}
.do-col-11 .do-col-5{width:45.4545%}
.do-col-11 .do-col-4{width:36.3636%}
.do-col-11 .do-col-3{width:27.2727%}
.do-col-11 .do-col-2{width:18.1818%}
.do-col-11 .do-col-1{width:9.0909%}
.do-col-10{width:83.3333%}
.do-col-10 .do-col-10{width:100%}
.do-col-10 .do-col-9{width:90%}
.do-col-10 .do-col-8{width:80%}
.do-col-10 .do-col-7{width:70%}
.do-col-10 .do-col-6{width:60%}
.do-col-10 .do-col-5{width:50%}
.do-col-10 .do-col-4{width:40%}
.do-col-10 .do-col-3{width:30%}
.do-col-10 .do-col-2{width:20%}
.do-col-10 .do-col-1{width:10%}
.do-col-9{width:75%}
.do-col-9 .do-col-9{width:100%}
.do-col-9 .do-col-8{width:88.8889%}
.do-col-9 .do-col-7{width:77.7778%}
.do-col-9 .do-col-6{width:66.6667%}
.do-col-9 .do-col-5{width:55.5556%}
.do-col-9 .do-col-4{width:44.4444%}
.do-col-9 .do-col-3{width:33.3333%}
.do-col-9 .do-col-2{width:22.2222%}
.do-col-9 .do-col-1{width:11.1111%}
.do-col-8{width:66.6667%}
.do-col-8 .do-col-8{width:100%}
.do-col-8 .do-col-7{width:87.5%}
.do-col-8 .do-col-6{width:75%}
.do-col-8 .do-col-5{width:62.5%}
.do-col-8 .do-col-4{width:50%}
.do-col-8 .do-col-3{width:37.5%}
.do-col-8 .do-col-2{width:25%}
.do-col-8 .do-col-1{width:12.5%}
.do-col-7{width:58.3333%}
.do-col-7 .do-col-7{width:100%}
.do-col-7 .do-col-6{width:85.7143%}
.do-col-7 .do-col-5{width:71.4286%}
.do-col-7 .do-col-4{width:57.1429%}
.do-col-7 .do-col-3{width:42.8571%}
.do-col-7 .do-col-2{width:28.5714%}
.do-col-7 .do-col-1{width:14.2857%}
.do-col-6{width:50%}
.do-col-6 .do-col-6{width:100%}
.do-col-6 .do-col-5{width:83.3333%}
.do-col-6 .do-col-4{width:66.6667%}
.do-col-6 .do-col-3{width:50%}
.do-col-6 .do-col-2{width:33.3333%}
.do-col-6 .do-col-1{width:16.6667%}
.do-col-5{width:41.6667%}
.do-col-5 .do-col-5{width:100%}
.do-col-5 .do-col-4{width:80%}
.do-col-5 .do-col-3{width:60%}
.do-col-5 .do-col-2{width:40%}
.do-col-5 .do-col-1{width:20%}
.do-col-4{width:33.3333%}
.do-col-4 .do-col-4{width:100%}
.do-col-4 .do-col-3{width:75%}
.do-col-4 .do-col-2{width:50%}
.do-col-4 .do-col-1{width:25%}
.do-col-3{width:25%}
.do-col-3 .do-col-3{width:100%}
.do-col-3 .do-col-2{width:66.6667%}
.do-col-3 .do-col-1{width:33.3333%}
.do-col-2{width:16.6667%}
.do-col-2 .do-col-2{width:100%}
.do-col-2 .do-col-1{width:50%}
.do-col-1{width:8.3333%}
.do-col-1 .do-col-1{width:100%}
.do-layout{padding:17px}
.do-layout>.do-row{margin-left:-17px;margin-right:-17px}

[editor-role='banner']{min-height: 100px}
[editor-role='body'] > .do-row,footer > .do-row{width: 1100px;margin: auto}

.do-header{position: relative;z-index: 10}
.do-header .do-area:hover{z-index: 3}
.do-header .do-row{display: table;table-layout: fixed;width: 100%}
.do-header [class*=do-col]{vertical-align: middle;display: table-cell;float: none;}
.do-header [class*=do-col] .do-block{padding: 0}
.do-header[do-header-fixed=true] > .do-area,.do-header[do-header-fixed='fixed'] > .do-area,.do-header[do-header-fixed='absolute'] > .do-area {position: fixed;left: 0;right: 0;top: 0;z-index: 999;}
.do-header[do-header-fixed='absolute'] > .do-area{position: absolute;}

/* [do-nav] *{height: 100%} */
.do-banner{position:relative;z-index:9}

/*面板基础样式*/
[class*=do-col-]{vertical-align: top;z-index: 1}
[class*=do-col-]:hover{z-index: 2}
[class*=do-col-]:before{position: absolute;left: 0;right: 0;bottom: 0;top: 0;z-index: 1;content: " ";}
[class*=do-col-] > *{z-index: 2;position: relative;}
[class*=do-col-]:first-child:before{margin-left: 0}
[class*=do-col-]:last-child:before{margin-right: 0}


.do-area{position: relative;}
.do-area-bg,.do-slide-bg{position: absolute;z-index: 1;top: 0;left: 0;bottom: 0;right: 0;overflow: hidden}
.do-area,.do-area-bg-conter,.do-slide-bg-conter{background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;behavior: url(/backgroundsize.htc);-ms-behavior: url(/backgroundsize.htc);}
.do-area-bg-conter,.do-slide-bg-conter{position:absolute;top:-20px;left:-20px;bottom:-20px;right:-20px;}
.do-area-videobg .do-area-bg-conter{left: 0;right: 0;bottom: 0;top: 0;}
.do-area-videobg .video-background{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);min-width: 100%;min-height: 100%; -webkit-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%); object-fit: cover}
.do-area-bg-conter:before,
.do-slide-bg-conter:before,
.do-area-bg-conter .bgcolor,
.do-slide-bg-conter .slide-bgcolor{position:absolute;width: 100%;height: 100%;top: 0;left: 0}
.do-area-bg-conter:before,
.do-slide-bg-conter:before{content: "";}
.do-area > .do-row,.do-productContent .do-row-one{z-index: 2;width: 1000px;margin: auto;position:relative;}

.do-row-one{margin: auto;z-index: 2}
[do-page-width='1'] .do-row-one{max-width: 1200px;width: 100%;}
[do-page-width='2'] .do-row-one{max-width: 1400px;width: 100%;}
[do-page-width='3'] .do-row-one,.do-area-full .do-row-one{width: 100%;max-width:100%}

/*板块高度全屏*/
.do-area-fullHeight .do-row-one,
.do-area-fullHeight .do-row-one > .do-row,.do-slide-full{min-height:100vh}

.do-area-fullHeight .do-row-one,
.do-area-fullHeight .do-row-one > .do-row{display: block;overflow: hidden;z-index: 2}

.do-area-fullHeight .do-row-one > .do-col-12,
.do-area-fullHeight .do-row-one > .do-row > .do-col-12{display:table!important;height:100vh;table-layout: fixed;}

.do-area-fullHeight .do-row-one > .do-col-12 > .do-panelcol,
.do-area-fullHeight .do-row-one > .do-row > .do-col-12 > .do-panelcol{display:table-cell;vertical-align:middle;width: 100%}




/*组件单独配置*/
.do-slide{padding: 0!important;}

/*默认导航样式*/
.do-nav{position: relative;z-index: 1}
.z-nav{font-size: 16px;white-space:nowrap;}
.z-nav-bar,.z-nav-conter a > *{display: inline-block;vertical-align:middle}
.z-nav-container{height: inherit;margin: 0;display: table;table-layout:fixed}
.z-nav-conter{display: table-cell;vertical-align: middle;padding: 0}
.z-nav-conter > li{height: inherit;display:inline-block;position: relative;padding: 0!important;vertical-align: top;}
.z-nav-conter > li > a{color: #333;padding: 8px 22px;display: block;text-align: center;}
.z-nav-conter > li > a:hover{color: #444}
.z-nav-conter li > ul{padding: 0;margin: 0;height: auto;}
.z-nav-conter li > ul li{position: relative;line-height: 44px;height: 44px;text-align: left;min-width:140px}
.z-nav-conter li > ul,.z-subnav-conter li ul{display: none;position: absolute;top:100%;left: 0;    background-color: #fff;border: 1px solid #eee;border-radius: 4px;color: #666;font-size: 14px;}
.z-nav-conter li > ul a,.z-nav-sub > li a{color: inherit;padding:0 18px;display: block}
.z-nav-conter li > ul a:hover,.z-nav-sub > li a:hover{background-color:#eee;}
.z-nav-conter li:hover > ul{display: block}

.z-nav-conter li > ul li ul{left: 100%;top: 0;background-color: #fff;}

.z-nav-container li > ul,.z-nav-conter li > ul li ul{ opacity: 0; display: block;display/*\**/:none\9;z-index: 1}
.z-nav-container li:hover > ul,.z-nav-conter li > ul li:hover ul,.z-subnav-conter li:hover ul { opacity: 1;display/*\**/:block\9;z-index: 2}
.z-nav-container li { -webkit-transition: all 0.2s;transition: all 0.2s; }
.z-nav-container li ul li {height: 0; line-height: 0; background: none; }
.z-nav-container li:hover ul li { height: 36px; line-height: 36px; }
.z-nav-container li a { -webkit-transition: all 0.5s;transition: all 0.5s; }
.z-nav-container li ul { -webkit-transition: all 1s;transition: all 1s; }
.z-nav-container li ul li { -webkit-transition: height 0.5s;transition: height 0.5s; }

.z-nav-conter > li:last-child > ul li ul{left: auto;right: 100%}

.z-nav-bar .pageicon{margin-right: 8px}
.z-nav-bar .pageicon img{max-width: 32px;max-height: 32px}

.z-nav .z-nav-btn{display: none;}

/*子导航*/
.z-sub-nav li{position: relative;}

/*英文导航*/
.z-nav .catname{display: inline-block;line-height: 1.4;vertical-align: middle;}
.z-nav a em{display: none;}
.z-nav.en a em{display: block;font-size: 13px;font-style: normal;}
.z-nav.en a:hover em,.z-nav.en li.active a em{color: inherit;opacity: 0.5!important;}

.en.do-nav-up em{-webkit-transition:all 0.25s;transition:all 0.25s;opacity: 0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}
.en.do-nav-up a:hover em,.en.do-nav-up li.active a em{-webkit-transform:translate3d(0,0,0);opacity: 1;}

.en.do-nav-turn a{overflow: hidden;position: relative;}
.en.do-nav-turn em{position: absolute;left: 0;top: 0;bottom: 0;right: 0;padding: inherit;}
.en.do-nav-turn em,.en.do-nav-turn span{-webkit-transition:all .4s;transition:all .4s;opacity: 0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}
.en.do-nav-turn span{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity: 1;display: inline-block;}
.en.do-nav-turn a:hover span{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);opacity: 0}
.en.do-nav-turn a:hover em{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity: 1;}


/*logo 大小*/
.z-logo{width: 100%;padding: 8px}
.z-logo img{height:40px;width: auto!important;max-width:initial!important}
.z-logo.size1 img{height:24px}
.z-logo.size2 img{height:28px}
.z-logo.size3 img{height:32px}
.z-logo.size4 img{height:36px}
.z-logo.size5 img{height:40px}
.z-logo.size6 img{height:44px}
.z-logo.size7 img{height:48px}
.z-logo.size8 img{height:52px}
.z-logo.size9 img{height:56px}
.z-logo.size10 img{height:60px}
.z-logo.size11 img{height:64px}
.z-logo.size12 img{height:68px}
.z-logo.size13 img{height:72px}
.z-logo.size14 img{height:76px}
.z-logo.size15 img{height:80px}
.z-logo.size16 img{height:90px}
.z-logo.size17 img{height:100px}
.z-logo.size18 img{height:120px}
.z-logo.size19 img{height:140px}
.z-logo.size20 img{height:160px}
.z-logo.size21 img{height:180px}
.z-logo.size22 img{height:200px}

.z-logo a{color: inherit;}
.z-logo i.icon-logo{font-size: 32px;color: inherit;}
.z-logo h1{line-height:inherit}

/*blog*/
.do-body-list,.do-body-content{color: #333;padding: 40px 0}
.do-body-list .do-row-one,.do-body-content .do-row-one{margin: auto}
.do-body-left{overflow: hidden;}
.do-body-right{float: right;margin-left:25px;width: 400px;min-height: 100px}

/*m*/
.do-nav-mwp{display: none;}

.do-time,.do-tags{color: #888;font-size: 13px}
.do-tag-item{padding: 0 6px}

/*caiyichen ie10以下兼容：*/
/*.lt-ie10*/


@media screen and (max-width: 1210px){
    .z-nav-conter > li > a{padding: 8px 14px}
}


@media screen and (max-width: 1050px){
    .z-nav-conter > li > a{padding: 8px 10px}
}



@media screen and (max-width: 992px){
    .container {
        width: 100%!important;
        padding: 30px 20px;
        box-sizing: border-box;
    }
    .z-nav-conter > li > a{padding: 8px}
}
input.do-m-menustate,.do-m-menustate,.icon-isSub{display: none;}
@media only screen and (max-width:800px){
    [editor-role='body'] > .do-row,footer > .do-row{width:auto}
    .do-area > .do-row,#view-container .do-row-one,.do-productContent .do-row-one{width:100%!important;padding: 0 15px}
    .do-header{display: none!important;}
    /*body{padding-top: 46px!important;}*/
    .do-nav-mwp{height: 46px;display: block;}
    .do-nav-phone .do-nav-mwp{height:50px}

    .do-nav-m{display:block;position: relative;position: fixed;top: 0;left: 0;right: 0;z-index: 999;-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;-webkit-box-shadow:rgba(0,0,0,.2) 0px 2px 5px;-moz-box-shadow:rgba(0,0,0,.2) 0px 2px 5px;box-shadow:rgba(0,0,0,.2) 0px 2px 5px;}
    .do-nav-m,.do-site-name{height: 46px;}
    .do-nav-m > *{position: relative;z-index: 1}
    .do-nav-m .do-site-name{padding: 5px;}
    .do-nav-m .do-site-name,.do-nav-m .do-site-name h3{display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;}
    .do-nav-m .do-site-name,.do-nav-m .do-site-name h3,.do-nav-m .do-site-name h3 a{width: 100%;line-height: 1}
    .do-nav-m .do-site-name h3{display: initial;}
    .do-nav-m .do-site-name img{height:23px;max-width: 200px}
    .do-nav-m.open{}
    .do-site-name *{color: #fff;font-size: 18px;line-height: inherit;}
    .do-nav-m:before{}
    .do-nav-m-bar{padding:20px;}
    .do-nav-m-ul{padding:0}
    .do-nav-m-ul li {}
    .do-nav-m-ul li a{padding: 8px 12px; color: #999}
    .do-nav-m-ul li a:active{background-color: rgba(0,0,0,.5);color: #fff}
    .do-nav-m-ul li > ul{display: none;}

    /*收缩*/
    .do-nav-phone .do-nav-m{min-height: 46px;height: auto;}
    .do-nav-m.open,.do-nav-m.open .do-site-name{height: 46px!important;}
    .do-nav-m.open .do-site-name img{height: 23px!important;}

    .do-nav-phone .do-nav-m.open,.do-nav-phone .do-nav-m.open .do-site-name{height: 40px!important;}
    .do-nav-phone .do-nav-m.open .do-site-name img{height: 30px!important;}



    /*导航*/
    .do-m-menustate{position: absolute;right: 0;top: 0; width: 46px;height: 46px;display: table;vertical-align: middle;    cursor: pointer;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),-webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-tap-highlight-color: transparent;}
    .do-m-menustate-span{height: 100%;width: 100%;display: table-cell;vertical-align: middle;}
    .do-m-menustate-span:before,.do-m-menustate-span:after{content: "";height: 1px;width:17px;background-color: #fff;display:block;margin:auto;}
    .do-m-menustate-span:before,.do-m-menustate .do-m-menustate-span:after{
    margin-bottom:5px;
    -webkit-transition: all 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: rotate(0deg) translateY(0px);
    -ms-transform: rotate(0deg) translateY(0px);
    transform: rotate(0deg) translateY(0px);
    z-index: 4;}
    #do-m-menustate:checked ~ .do-nav-m .do-m-menustate .do-m-menustate-span:before{
        -webkit-transition:all 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: all 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-transform: rotate(135deg) translate3d(4px,-4px,0);
        -ms-transform: rotate(135deg) translate3d(4px,-4px,0);
        transform: rotate(135deg) translate3d(4px,-4px,0);
    }
    #do-m-menustate:checked ~ .do-nav-m .do-m-menustate .do-m-menustate-span:after{
        -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: all 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-transform: rotate(45deg) translate3d(0,0,0);
        -ms-transform: rotate(45deg) translate3d(0,0,0);
        transform: rotate(45deg) translate3d(0,0,0);
    }

    #do-m-menustate ~ .do-nav-m{
        background-color: #000;
        -webkit-transition: background 0.35s linear,height 0.35s ease-in;
        transition: background 0.35s linear,height 0.35s ease-in;
    }
    #do-m-menustate:checked ~ .do-nav-m{
        height: 100%!important;
        background: #000!important;
        -webkit-transition: background 0.35s linear,height 0.35s ease-in 200ms;
        transition: background 0.35s linear,height 0.35s ease-in 200ms;
    }
    #do-m-menustate:checked ~ .do-nav-m .do-site-name{
        height: 46px;
    }
    .do-nav-phone #do-m-menustate:checked ~ .do-nav-m{
        height: auto!important;
    }
    #do-m-menustate:checked ~ .do-nav-m .do-site-name img{
        height: 23px;
    }
    .do-nav-phone #do-m-menustate:checked ~ .do-nav-m .do-site-name img{
        height: 30px;
    }

    .do-nav-m.do-nav-no-fixed{
        position: absolute!important;
    }
    .do-nav-m .do-nav-m-bar{
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0 48px;
        height: auto;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        visibility: hidden;
        top: 70px;
        width: 100%;
        height: 100vh; /*高度全屏*/
        border-width: 0;
    }


    /*caiyichen 手机导航样式：*/
    /*.do-nav-btn{padding: 5px 0}*/
    .do-nav-btn,.do-subNav-btn{
        width: auto;padding: 0 14px
    }
    /*.do-nav-phone #do-m-menustate:checked ~ .do-nav-m .do-site-name{height: auto}*/
    /*导航按钮的位置：*/
    [do-phoneNav-btnAlign='do-navBtn-left'] .do-m-menustate{
        right: auto;
        left:0;
    }
    [do-phoneNav-btnAlign='do-navBtn-left'] .do-site-name{
        text-align: right;
    }
    [do-phoneNav-btnAlign='do-navBtn-center'] .do-m-menustate{
        margin: 0 auto;
    }
    [do-phoneNav-btnAlign='do-navBtn-center'] .do-site-name{
        text-align: center;
    }
    [do-phoneNav-btnAlign='do-navBtn-right'] .do-m-menustate{
        left:auto;
        right: 0;
    }
    [do-phoneNav-btnAlign='do-navBtn-right'] .do-site-name{
        text-align: left;
    }

    .do-navBtn-prompt{cursor: pointer}
    [do-phoneNav-btnAlign='do-navBtn-right'] .do-navBtn-prompt, [do-phoneNav-btnAlign='do-navBtn-left'] .do-navBtn-prompt{
        white-space: nowrap;
        display: table-cell;
        vertical-align: middle;
        padding: 0 10px 0 0;
        color:white;
        font-size: 15px;
        padding-left: 2px;
    }
    [do-phoneNav-btnAlign='do-navBtn-center'] .do-navBtn-prompt{
        display:none
    }

    [do-phone-nav='do-half-slip'] .do-nav-m-ul,
    [do-phone-nav='do-full-screen-slip'] .do-nav-m-ul {
        padding: 15px 0;
    }

    #do-m-menustate:checked ~ .do-nav-m .do-nav-m-bar{
        visibility: visible;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    .do-nav-m-ul > li > a{
        border-bottom: 1px solid #333;
        height: 47px;
        display: block;
        line-height: 34px;
    }
    .do-nav-m-ul li > a:active{background-color: rgba(255,255,255,.1);}

    .do-nav-m-ul li{
        display: block;
    }
    /*子菜单*/
    .do-nav-m-ul > li > ul{
        padding:10px 0 10px 20px;
        border-bottom: 1px solid #333;
    }
    .do-nav-m-ul li ul li{
        font-size: 13px;
    }
    .do-nav-m-ul li ul li a{height: 34px;line-height: 34px}
    .do-nav-m-ul li{position: relative;}

    .icon-isSub{position: absolute;top: 0;right: 0;height: 47px; width: 47px;z-index: 2;margin: 0;text-align: center;display: block;}
    .icon-isSub:before{content: "\e208";color: #888;font-size: 18px;position: absolute;top: 50%;margin-top: -10px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        pointer-events: none;
        -webkit-transition: all 0.35s ease-out;
        transition: all 0.35s ease-out;
    }
    .do-m-sub:checked ~ .icon-isSub:before{
        -webkit-transform: rotate(90deg);
    }

    .do-nav-m-ul li ul li .icon-isSub{height: 34px;width: 34px}

    .do-m-sub ~ .z-nav-sub,.do-m-sub ~ .nav-checked{
        display: block;
        opacity: 0;height: 0;padding: 0;
        -webkit-transition: opacity 0.35s linear,height 0.35s ease-in;
        transition: opacity 0.35s linear,height 0.35s ease-in;
    }
    .do-m-sub:checked ~ .z-nav-sub,.do-m-sub:checked ~ .nav-checked{
        height:auto;
        opacity: 1;
        padding: 6px 0 6px 15px;
        -webkit-transition: opacity 0.35s linear,height 0.35s ease-in 200ms;
        transition: opacity 0.35s linear,height 0.35s ease-in 200ms;
    }

    .do-nav-m-ul > li,.z-nav-sub > li,.nav-checked > li{
        opacity: 0;
        -webkit-transform: scale(1.1) translateY(-24px);
        -ms-transform: scale(1.1) translateY(-24px);
        transform: scale(1.1) translateY(-24px);
        -webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
        transition: opacity 0.35s ease-out, transform 0.35s ease-out;
    }


    /*caiyichen 手机下导航特效 2016-10-12：*/
    .do-nav-m-bar ul li a {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;z-index: 2
    }

    .do-nav-m .do-phoneNav-overlay{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(1,1,1,0.5);
        display: none;
    }

    .do-nav-phone .do-nav-m,.do-nav-phone .do-nav-m-title{line-height: 0!important;}

    /*打开遮罩：*/
    [do-phone-nav='do-half-slip'] #do-m-menustate:checked ~ .do-nav-m .do-phoneNav-overlay,
    [do-phone-nav='do-drop-half'] #do-m-menustate:checked ~ .do-nav-m .do-phoneNav-overlay{
        display: block;
    }
    /*子菜单中的"导航"按钮：*/
    .do-nav-m .do-nav-m-bar .do-m-menustate{
        display:none;
    }
    [do-phone-nav='do-half-slip'] #do-m-menustate:checked ~ .do-nav-m .do-nav-m-bar .do-subNav-btn,
    [do-phone-nav='do-full-screen-slip'] #do-m-menustate:checked ~ .do-nav-m .do-nav-m-bar .do-subNav-btn{
        display: table!important;
    }

    /*半边\满屏滑出：*/
    [do-phone-nav='do-half-slip'] .do-nav-m-bar,
    [do-phone-nav='do-full-screen-slip'] .do-nav-m-bar {
        position: absolute;
        top: 0;
        padding-top: 20px!important;
    }

    /*1、半边滑出：*/
    [do-phone-nav='do-half-slip'] .do-nav-m-bar{
        padding: 20px 30px!important;
    }
    [do-phone-nav='do-half-slip'] .do-nav-m-bar {
        width:calc(100vw - 50px)!important;

    }
    /*从左往右：*/
    [do-phone-nav='do-half-slip'] [do-phoneNav-slip-direction='left-to-right']  .do-nav-m-bar{
        /*left: -85%;*/
    }
    [do-phone-nav='do-half-slip'] [do-phoneNav-slip-direction='left-to-right'] #do-m-menustate:checked ~ .do-nav-m .do-nav-m-bar,
    [do-phone-nav='do-full-screen-slip'] [do-phoneNav-slip-direction='left-to-right'] #do-m-menustate:checked ~ .do-nav-m .do-nav-m-bar {
        /*left:0!important;*/
    }

    /*从右往左：*/
    [do-phone-nav='do-half-slip'] [do-phoneNav-slip-direction='right-to-left']  .do-nav-m-bar{
        /*right: -85%;*/
        /*left: auto;*/
    }
    [do-phone-nav='do-half-slip'] [do-phoneNav-slip-direction='right-to-left'] #do-m-menustate:checked ~ .do-nav-m .do-nav-m-bar,
    [do-phone-nav='do-full-screen-slip'] [do-phoneNav-slip-direction='right-to-left'] #do-m-menustate:checked ~ .do-nav-m .do-nav-m-bar{
        /*right:0!important;*/
    }

    /*2、满屏滑出：*/
    [do-phone-nav='do-full-screen-slip'] .do-nav-m-bar{
        width: 100%;
    }
    [do-phone-nav='do-full-screen-slip'] [do-phoneNav-slip-direction='left-to-right'] .do-nav-m-bar{
        left: -100%;
    }
    [do-phone-nav='do-full-screen-slip'] [do-phoneNav-slip-direction='right-to-left'] .do-nav-m-bar{
        right: -100%;
        left: auto;
    }

    /*3、从上往下半滑 从上往下满屏滑：*/
    [do-phone-nav='do-drop-half'] .do-nav-m-bar,
    [do-phone-nav='do-drop-full'] .do-nav-m-bar{
        position: absolute;
        left:0;
        top: -100vh!important;
        padding-top: 20px;
    }
    
    [do-phone-nav='do-drop-full'][do-phonenav-btnalign='do-navBtn-center'] .do-m-menustate{position: relative;}

    [do-phone-nav='do-drop-half'] .do-nav-m-bar {
        height: 50vh!important;
    }
    [do-phone-nav='do-drop-half'] #do-m-menustate:checked ~ .do-nav-m .do-nav-m-bar,
    [do-phone-nav='do-drop-full'] #do-m-menustate:checked ~ .do-nav-m .do-nav-m-bar,
    [do-phone-nav='do-drop-half'] .do-nav-m .do-phoneNav-overlay{
        top: 50px!important;
    }
    [do-phone-nav='do-drop-half'][do-phoneNav-btnAlign='do-navBtn-center'] #do-m-menustate:checked ~ .do-nav-m .do-nav-m-bar,
    [do-phone-nav='do-drop-full'][do-phoneNav-btnAlign='do-navBtn-center'] #do-m-menustate:checked ~ .do-nav-m .do-nav-m-bar,
    [do-phone-nav='do-drop-half'][do-phoneNav-btnAlign='do-navBtn-center'] .do-nav-m .do-phoneNav-overlay{
        top: 94px!important;
    }

    [do-phone-nav='do-drop-half'] .do-nav-m-bar,
    [do-phone-nav='do-drop-full'] .do-nav-m-bar,
    [do-phone-nav='do-drop-half'] .do-phoneNav-overlay{
        z-index: 0; /*降层级*/
    }

    [do-phone-nav='do-drop-half'][do-phoneNav-btnAlign='do-navBtn-center'] .do-nav-m,
    [do-phone-nav='do-drop-full'][do-phoneNav-btnAlign='do-navBtn-center'] .do-nav-m{
        height: auto!important;
        min-height: 50px;
    }

    /*[do-phone-nav='do-drop-half'][do-phoneNav-btnAlign='do-navBtn-center'] .do-site-name,
    [do-phone-nav='do-drop-full'][do-phoneNav-btnAlign='do-navBtn-center'] .do-site-name{
        height:auto;
    }*/
    [do-phone-nav='do-drop-half'][do-phoneNav-btnAlign='do-navBtn-center'] .do-nav-m .do-site-name h3,
    [do-phone-nav='do-drop-full'][do-phoneNav-btnAlign='do-navBtn-center'] .do-nav-m .do-site-name h3{
        position: initial;
    }
    [do-phone-nav='do-drop-half'][do-phoneNav-btnAlign='do-navBtn-center'] .do-nav-btn,
    [do-phone-nav='do-drop-full'][do-phoneNav-btnAlign='do-navBtn-center'] .do-nav-btn{
        position: initial;
    }
    .do-nav-m-title{
        width:100%;position: absolute;
        position: relative;z-index: 2
    }
    .do-nav-phone .do-nav-m-title{padding:5px;min-height: 50px}

    .do-nav-phone .do-nav-m,.do-nav-phone .do-site-name,.do-nav-phone .do-nav-btn,.do-nav-phone .do-nav-mwp{
        min-height: 46px;
    }

    /*手机导航按钮三条杠变叉叉特效 start:*/
    .do-m-menu-btn {
        height: 50px;
        display: table-cell;
        vertical-align: middle;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        cursor: pointer;
    }
    .do-m-menu-btn span{
        height: 1px;
        width: 22px;
        display: block;
        margin: 5px auto;
        position: relative;
        background-color: #fff;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
    #do-m-menustate:checked ~ .do-nav-m .do-m-menustate .do-m-menu-btn span:nth-of-type(1) {
        -moz-transform: translateY(6px) rotate(45deg);
        -ms-transform: translateY(6px) rotate(45deg);
        -webkit-transform: translateY(6px) rotate(45deg);
        transform: translateY(6px) rotate(45deg);
    }
    #do-m-menustate:checked ~ .do-nav-m .do-m-menustate .do-m-menu-btn span:nth-of-type(2) {
        opacity: 0;
    }
    #do-m-menustate:checked ~ .do-nav-m .do-m-menustate .do-m-menu-btn span:nth-of-type(3) {
        -moz-transform: translateY(-6px) rotate(-45deg);
        -ms-transform: translateY(-6px) rotate(-45deg);
        -webkit-transform: translateY(-6px) rotate(-45deg);
        transform: translateY(-6px) rotate(-45deg);
    }
    /*手机导航按钮特效 end!*/

    .do-nav-m-bar-name{display: none!important;}
    [do-phone-nav='do-half-slip'] .do-nav-m-bar-name,
    [do-phone-nav='do-full-screen-slip'] .do-nav-m-bar-name{
        display: table!important;}
    #do-m-menustate:checked ~ .do-nav-m .do-nav-m-bar-name img {
        height: 45px!important;
    }

    /*下滑 居中显示时，显示的当前页的名字：*/
    .do-nav-page-name{
        display: none;
        white-space: nowrap;
        vertical-align: middle;
        font-size: 17px;
        cursor: pointer;display: table-cell;padding-left: 8px
    }
    [do-phone-nav='do-drop-half'] [do-phoneNav-btnAlign='do-navBtn-center'] .do-nav-page-name,
    [do-phone-nav='do-drop-full'] [do-phoneNav-btnAlign='do-navBtn-center'] .do-nav-page-name{
        display: table-cell!important;
    }

    /*caiyichen 手机下导航特效 end!*/




}

    #do-m-menustate:checked ~ .do-nav-m .do-nav-m-ul > li, .do-m-sub:checked ~ .z-nav-sub > li,.do-m-sub:checked ~ .nav-checked > li{
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    #do-m-menustate:checked ~ .do-nav-m .do-nav-m-ul li:nth-child(1), .do-m-sub:checked ~ .z-nav-sub li:nth-child(1),.do-m-sub:checked ~ .nav-checked > li:nth-child(1){
        -webkit-transition-delay: 300ms,300ms;
        transition-delay: 300ms,300ms
    }
    #do-m-menustate:checked ~ .do-nav-m .do-nav-m-ul li:nth-child(2), .do-m-sub:checked ~ .z-nav-sub li:nth-child(2),.do-m-sub:checked ~ .nav-checked > li:nth-child(2){
        -webkit-transition-delay: 350ms,350ms;
        transition-delay: 350ms,350ms
    }
    #do-m-menustate:checked ~ .do-nav-m .do-nav-m-ul li:nth-child(3), .do-m-sub:checked ~ .z-nav-sub li:nth-child(3),.do-m-sub:checked ~ .nav-checked > li:nth-child(3){
        -webkit-transition-delay: 350ms,350ms;
        transition-delay: 350ms,350ms
    }
    #do-m-menustate:checked ~ .do-nav-m .do-nav-m-ul li:nth-child(4), .do-m-sub:checked ~ .z-nav-sub li:nth-child(4),.do-m-sub:checked ~ .nav-checked > li:nth-child(4){
        -webkit-transition-delay: 400ms,400ms;
        transition-delay: 400ms,400ms
    }
    #do-m-menustate:checked ~ .do-nav-m .do-nav-m-ul li:nth-child(5), .do-m-sub:checked ~ .z-nav-sub li:nth-child(5),.do-m-sub:checked ~ .nav-checked > li:nth-child(5){
        -webkit-transition-delay: 450ms,450ms;
        transition-delay: 450ms,450ms
    }
    #do-m-menustate:checked ~ .do-nav-m .do-nav-m-ul li:nth-child(6), .do-m-sub:checked ~ .z-nav-sub li:nth-child(6),.do-m-sub:checked ~ .nav-checked > li:nth-child(6){
        -webkit-transition-delay: 500ms,500ms;
        transition-delay: 500ms,500ms
    }
    #do-m-menustate:checked ~ .do-nav-m .do-nav-m-ul li:nth-child(7), .do-m-sub:checked ~ .z-nav-sub li:nth-child(7),.do-m-sub:checked ~ .nav-checked > li:nth-child(7){
        -webkit-transition-delay: 550ms,550ms;
        transition-delay: 550ms,550ms
    }

    #do-m-menustate:checked ~ .do-nav-m .do-nav-m-ul li:nth-child(8), .do-m-sub:checked ~ .z-nav-sub li:nth-child(8),.do-m-sub:checked ~ .nav-checked > li:nth-child(8){
        -webkit-transition-delay: 600ms,600ms;
        transition-delay: 600ms,600ms;
    }

    /*效果*/
    [do-phonenav-slip-direction='left-to-right'][do-phone-nav='do-half-slip'] .do-nav-m-bar,
    [do-phonenav-slip-direction='left-to-right'][do-phone-nav='do-full-screen-slip'] .do-nav-m-bar{-webkit-transform: translate3d(-100%,0,0)}
    .do-nav-m-title,
    body.navOpen[do-phone-nav='do-full-screen-slip'] .do-nav-m-bar,
    body.navOpen[do-phone-nav='do-half-slip'] .do-nav-m-bar{-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0)}
    body.navOpen[do-phonenav-slip-direction='left-to-right'][do-phone-nav='do-full-screen-slip'] .do-container,
    body.navOpen[do-phonenav-slip-direction='left-to-right'][do-phone-nav='do-full-screen-slip'] .do-nav-m-title,
    body.navOpen[do-phonenav-slip-direction='left-to-right'][do-phone-nav='do-half-slip'] .do-container,
    body.navOpen[do-phonenav-slip-direction='left-to-right'][do-phone-nav='do-half-slip'] .do-nav-m-title{-webkit-transform: translate3d( calc(100vw - 50px) ,0,0)}
    
    [do-phonenav-slip-direction='right-to-left'] .do-nav-m-bar{left: auto;right: 0}
    [do-phonenav-slip-direction='right-to-left'][do-phone-nav='do-half-slip'] .do-nav-m-bar,
    [do-phonenav-slip-direction='right-to-left'][do-phone-nav='do-full-screen-slip'] .do-nav-m-bar{-webkit-transform: translate3d(100%,0,0)}
    body.navOpen[do-phonenav-slip-direction='right-to-left'][do-phone-nav='do-half-slip'] .do-nav-m-bar,
    body.navOpen[do-phonenav-slip-direction='right-to-left'][do-phone-nav='do-full-screen-slip'] .do-nav-m-bar{-webkit-transform: translate3d(0,0,0)}
    
    body.navOpen[do-phonenav-slip-direction='right-to-left'][do-phone-nav='do-full-screen-slip'] .do-container,
    body.navOpen[do-phonenav-slip-direction='right-to-left'][do-phone-nav='do-full-screen-slip'] .do-nav-m-title,
    body.navOpen[do-phonenav-slip-direction='right-to-left'][do-phone-nav='do-half-slip'] .do-container,
    body.navOpen[do-phonenav-slip-direction='right-to-left'][do-phone-nav='do-half-slip'] .do-nav-m-title{-webkit-transform: translate3d( calc(50px - 100vw) ,0,0)}
    


    /**/
/*    body.navOpen .right-to-left .do-nav-m-bar,
    body.navOpen .right-to-left .do-nav-m-title,{-webkit-transform: translate3d(100%,0,0)}

    body.navOpen .right-to-left .do-nav-m-bar{-webkit-transform: translate3d(0,0,0)}
    body.navOpen .right-to-left .do-nav-m-title{-webkit-transform: translate3d(-290px,0,0)}
*/

@media only screen and (max-width: 640px){
    [editor-role='body'] > .do-row,footer > .do-row{width:auto}
    .do-row{display: block!important;table-layout: auto!important;}
    .do-row [class*=do-col] {
        float: none !important;
        width: 100% !important;
        display: block!important;
        padding: 0!important;margin: 15px 0;
    }
    .do-row [class*=do-col-]:first-child{margin-top: 0}
    .do-row [class*=do-col-]:last-child{margin-bottom: 0}
    .do-area > .do-row,#view-container .do-row-one{width:auto!important;padding: 0 15px}
    .do-area-full .do-row-one{padding: 0;overflow: hidden;}


    .do-body [class*=do-col-]{vertical-align: top;z-index: 1}
    .do-body [class*=do-col-]:before{position: absolute;left: 0;right: 0;bottom: 0;top: 0;z-index: 1;content: " ";}
    .do-body [class*=do-col-]:before{margin:0;}


    .z-nav-body{padding: 0!important;}
    .do-area-bg-conter{background-attachment: initial!important}
}